@import url("https://raw.githubusercontent.com/ChEaTerNerVozA/Animated/main/Animated%20Raw%20File");

/*
:root {
  --background: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/7227a45a-3d3b-480d-ae57-04bba74e8228/dghxzsw-bf29a26c-f8a1-4b49-b5e9-48af1d055b28.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzcyMjdhNDVhLTNkM2ItNDgwZC1hZTU3LTA0YmJhNzRlODIyOFwvZGdoeHpzdy1iZjI5YTI2Yy1mOGExLTRiNDktYjVlOS00OGFmMWQwNTViMjguZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.bhjJSq5dlUR61vz291SHRPC-Mq_DwSr8whWt7-k1WqY");
  --font:                       "Inter";
  --transparencyalpha:          0.7;
  --transparencycolor:			    0,0,0;
	--messagetransparency:			  0;
	--guildchanneltransparency:		0;
	--chatinputtransparency:		  0;
	--memberlisttransparency:		  0.3;
	--accentcolor:					      144,0,32,0.6;
}

.theme-dark {
  --text-normal:                #ffffff;
  --text-muted:                 #ffffff;
  --header-primary:             #ff4f75;
  --channels-default:           #ff90a2;
  --header-secondary:           #ff90a2;
  --interactive-normal:         #ff90a2;
  --interactive-hover:          #ffffff;
  --interactive-active:         #ffffff;
  --background-modifier-accent: #fff2;
}
*/
